<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Inicio!</h1>

    <form action="" method="post">
        {% csrf_token %}
        {{formulario}}
        <button type="submit">Guardar</button>
    </form>
    <form action="" method="get">
        <button type="submit">Revisar datos</button>
    </form>

    <table>
        <th>producto</th>
        <th>Cantidades</th>
        <th>Eliminar</th>

    {%for a,b in querie.items %}
     

            {% comment%}
                Cree un form para un boton que  elimina el producto,
                "A" es el producto que se envia por url y luego a la funcion "eliminar producto"
            {% endcomment%}


        <tr>
            <td>{{a}}</td>
            <td>{{b}}</td>
            <td><form action="{% url 'eliminarProducto' a %}" method="post">
                {% csrf_token %}
                <button>Eliminar</button>
            </form></td>
        </tr>
        
    
    {%endfor%}
    </table>
</body>
</html>