<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>A editar</h1>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit">Salvar</button>
        <table>
            <th>Codigo</th>
            <th>producto</th>
            <th>cantidad</th>
            
        <tr >
            {% for s in querieStock.values %}
            <td>{{s.cod_art}}</td>
            <td>{{s.descripcion}}</td>
            <td><input type="number" name="{{s.cod_art}}" value="{{s.stock}}" id=""></td>
        </tr>
            {% endfor %}
    </table>
</form>
</body>
</html>