<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Ver Stock</h2>
    <a href="{% url 'actualizarStock'%}">Actualiar stock</a> 
    <a href="{% url 'mostrarPedidos'%}">Ver pedidos</a> 
    </form>
    <table class="table">
            <th>Codigo</th>
            <th>Producto</th>
            <th>Stock</th>
            
            {% for producto in querieStock.values %}
        <tr> 
            <td>{{producto.cod_art}}</td>
                <td>{{producto.descripcion}}</td>
                <td>{{producto.stock}}</td>
            {%endfor%}
        </tr>
    </table>
</body>
</html>