<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Ver pedidos!</H1>
    <H3>{{alerta}}</H3>
    <a href="{% url 'verStock' %}">Ver Stock</a> 
    <table class="table">
        <th>Codigo</th>
        <th>Usuario</th>
        <th>Botones</th>

        
        {% for pedidos in queriePedidos.values %}
    <tr> 
        <td>{{producto.cod_art}}</td>
            <td>{{pedidos.cod_pedido}}</td>
            <td>{{pedidos.user}}</td>
            <td>
                <a href="{% url 'verPedido' pedidos.cod_pedido %}">Ver pedido</a>    
            </td>
            </form>
        {%endfor%}
    </tr>
</table>
</body>
</html>