{% include 'base.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block Tabla %}
<table class="table">
    <th class="tablath">producto</th>
    <th class="tablath">Cantidades</th>
    <th class="tablath">Botones</th>

    {% comment %}
            Cree un form para un boton que  elimina el producto,
            "A Contiene el ID del producto"
            "B" Seria el producto con su cantidad en array ["producto",cantidad]
    {% endcomment %}



    {%for a,b in querie.items %}
 
    <tr class="tablatr">
        <td class="tablatd">{{b.0}}</td>
        <td class="tablatd">{{b.1}}</td>
        <td class="tablatd" id="btn">
            <div class="formBotones" style="display:flex; padding:5px;">
                <form class="formBotones" action="{% url 'eliminarProducto' a %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger">Eliminar</button>
                </form>
                <form class="formBotones" action="{% url 'editarProducto' a %}" method="GET">
                    {% csrf_token %}
                    <button class="btn btn-warning">Editar</button>
                </form>

            </div>
        </td >
    </tr>
    

{%endfor%}
</table>

{% endblock %}