*{
    margin: 0px;
    padding: 0px;
}



.alerta{
    width: 100%;
    height: 8vh;
    text-align: center;
    background-color: #4DAA5B;
    color: white;
    font-size: x-large;
}
.mensaje{
    text-align: center;

}
.topForm{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.divForm{  /* Segunda parte */
    height: 30vh;
    width: 50vh;
    margin-right: auto ;
    margin-left: auto;
    border-left: #4ebc76 1px solid;
    border-top: #4ebc76 1px solid;
    border-right: #4b2cba 1px solid;
    border-bottom: #4b2cba 1px solid;
}
.formPedido{ /* Formulario de la segunda parte */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

}



.DivBuscador{
    margin-right: auto ;
    margin-left: auto;
    border-left: #4ebc76 1px solid;
    border-top: #4ebc76 1px solid;
    border-right: #4b2cba 1px solid;
    border-bottom: #4b2cba 1px solid;
    width: 50vh;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.DivBuscador h3{
    text-align: center;
}


.btnGuardar{
    margin: auto;
    background-color: #4DAA5B;
    margin-top:5px;
    color: white;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 10px;
}



#btnFinalizar{
    margin: auto;
    background-color: #aa4d4d;
    margin-top:5px;
    color: white;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 10px;
}

.formBuscador{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divEditar{
    width: 100%;
    height: 30vh;
}

.formEditar{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
