.tablaCarrito{
    background-color: rgb(199, 199, 199);
    width: 100vh;
    height: auto    ;
    margin: auto;
    table-layout: auto;
    border: black 1px solid;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.tablath .tablatd{
    border: 1px solid #000; /* Añade bordes a las celdas */
    padding: 8px; /* Añade espacio interno para que el contenido no esté pegado a los bordes */
    text-align: center; /* Centra el texto en las celdas */
    display: flex;
    flex-direction: row;
}

.tablath{
    background-color: #5cc6fb; /* Agrega un fondo de color a las celdas de encabezado */
    font-weight: bold;
    }
