{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
  {% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/base.css' %}">
    <link rel="stylesheet" href="{% static './css/tabla.css' %}">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="{% url 'buscadorPedidos'%}" method="get">
            <label for="buscadorPedidos">Busca tu pedido!</label>
            <input type="number" name="buscadorPedidos" id="">
            <button type="submit">buscar!</button>
        </form>
    </div>
    <div class="formularioPedidos">
        <H2 class="mensaje">{{mensaje}}</H2>
        <form action="{% url 'pedidoulrs' %}" method="post" class="formPedido">
            {% csrf_token %}
            {{formulario}}
            <button type="submit" class="btnGuardar" >Guardar</button>
        </form>
        <form  class="btnGuardar" action="{% url 'finalizarCarrito' %}" method="post">
            {% csrf_token %}
            <button type="submit">Finalizar</button>
        </form>

    </div>
    {% block tabla %}
    {% endblock %}
    <form action="" method="post">
        {% block editar %}
        {% endblock %}
    </form>
    
</body>
</html>